absl-py==1.0.0
asttokens==2.0.5
astunparse==1.6.3
backcall==0.2.0
batchgenerators==0.23
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.4
cycler==0.11.0
decorator==5.1.1
dicom2nifti==2.3.0
dill==0.3.4
distlib==0.3.4
executing==0.8.3
filelock==3.5.1
flatbuffers==2.0
fonttools==4.28.1
future==0.18.2
gast==0.5.3
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.19.1
grpcio==1.43.0
h5py==3.6.0
hiddenlayer==0.2
idna==3.3
imageio==2.11.0
importlib-metadata==4.11.1
ipython==8.1.1
jedi==0.18.1
joblib==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==13.0.0
linecache2==1.0.0
Markdown==3.3.6
matplotlib==3.5.0
matplotlib-inline==0.1.3
MedPy==0.4.0
networkx==2.6.3
nibabel==3.2.1
nilearn==0.9.0
# Editable install with no version control (nnunet==1.7.0)
-e d:\work\issues\meeting\python\example\nnunet-master
numpy==1.21.4
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.4
parso==0.8.3
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.5.0
prompt-toolkit==3.0.28
protobuf==3.19.4
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydicom==2.2.2
Pygments==2.11.2
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.2.0
requests==2.26.0
requests-oauthlib==1.3.1
rsa==4.8
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.7.2
setuptools-scm==6.3.2
SimpleITK==2.0.2
six==1.16.0
sklearn==0.0
stack-data==0.2.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-gpu==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.0.0
tifffile==2021.11.2
tomli==1.2.2
torch==1.10.2+cu113
torchaudio==0.10.2+cu113
torchvision==0.11.3+cu113
tqdm==4.62.3
traceback2==1.4.0
traitlets==5.1.1
typing_extensions==4.0.0
unittest2==1.1.0
urllib3==1.26.7
virtualenv==20.13.1
wcwidth==0.2.5
Werkzeug==2.0.3
wrapt==1.13.3
zipp==3.7.0
