name: Build Docs

on:
  push:
    branches: ["master"]
    paths:
      - 'documentation/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install MkDocs
      run: pip install mkdocs
    - name: Build docs
      run: mkdocs build
    - uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: Update built docs
        file_pattern: site/
